* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(https://cdn.imgchest.com/files/g4z9cwlpm72.png); */
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 0.5;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows: 38px 122px 60px 428px 915px; 
    grid-template-columns: minmax(270px, auto) minmax(212px, auto) minmax(463px, auto) minmax(335px, auto); 
}


.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

.container {
    grid-template-areas:
        "one one one one"
        "two six six six"
        "three three three three"
        "four four seven eight"
        "five five five eight"
}

ul {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: bold;

    list-style-type: none;
    padding: 16px;
    padding-top: 22px;

    margin: 0;
    display: flex;

    background-color: #007cbb;
    color: #ffffff;

    max-width: 100%;
    max-height: 100%;

    align-items: center;
}

.world {
    flex-basis: 141px;
    padding-left: 17px;
}
.society {
    flex-basis: 94px;
}
.economy {
    flex-basis: 107px;
}
.sport {
    flex-basis: 79px;
}
.world-cup {
    flex-basis: 153px;
}
.safety {
    flex-basis: 85px;
}
.incidents {
    flex-basis: 107px;
}
.no-politics {
    flex-basis: 100px;
}

@media (max-width: 500px) {
    .container {
    grid-template-columns: 100%;

    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
    }
}
