* {
    margin: 0;
    box-sizing: border-box;
}

img:nth-of-type(1) {
    display: none;
}

body {
    /* background-image: url(https://cdn.imgchest.com/files/g4z9cwlpm72.png); */
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 1; 
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(38px, auto) minmax(122px, auto) minmax(60px, auto) minmax(428px, auto) minmax(915px, auto);
    grid-template-areas:
        "one one one one"
        "two six six six"
        "three three three three"
        "four four seven eight"
        "five five five eight";
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

ul {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: bold;
    list-style-type: none;
    padding: 0px;
    padding-top: 0px;
    margin: 0;
    display: flex;
    background-color: #007cbb;
    color: #ffffff;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    text-align: center;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight";
    }

    ul {
        font-size: 12px;
    }
}
